h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  text-align: center;
}

p {
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

#firstImage {
  border-style: outset;
  border-color: #D8D8D8;
  border-width: medium;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
  cursor: pointer;
}

#secondImage {
  border-style: outset;
  border-color: #D8D8D8;
  border-width: medium;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
  cursor: pointer;
}

#thirdImage {
  border-style: outset;
  border-color: #D8D8D8;
  border-width: medium;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
  cursor: pointer;
}

.flex-container {
  padding: 20px 5px 20px 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flex-item {
  margin: 5px 5px 5px 5px;
  display: flex;
}

#myButton {
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px 0px
}

#resultButton {
  width: 100px;
  height: 40px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
}

#chartSection1 {
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 0px

}

canvas {
  display: flex;
}

#tableTitleSection {
  display: flex;
  justify-content: center;
}

#tableTitle {
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
  padding: 25px 5px 20px 5px;
}
