h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  text-align: center;
}

p {
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

#firstImage {
  border-style: outset;
  border-color: #D8D8D8;
  border-width: medium;
}

#secondImage {
  border-style: outset;
  border-color: #D8D8D8;
  border-width: medium;
}

#thirdImage {
  border-style: outset;
  border-color: #D8D8D8;
  border-width: medium;
}

.flex-container {
  padding: 20px 5px 20px 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flex-item {
  margin: 5px 5px 5px 5px;
  display: flex;
}

#myButton {
  display: flex;
  justify-content: center;
}

#resultButton {
  width: 100px;
  height: 40px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
}

#chartSection1 {
  display: flex;
  justify-content: center;
  padding: 20px 5px 20px 5px;
}

canvas {
  display: flex;
}
